.attackPokemonTwo {
  animation: attackTwo 0.5s ease forwards;
}

.attackPokemonOne {
  animation: attackOne 0.5s ease forwards;
}

@keyframes attackTwo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px); /* Move to the right (towards Pokémon 2) */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes attackOne {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px); /* Move to the left (towards Pokémon 1) */
  }
  100% {
    transform: translateX(0);
  }
}
