.attackingPokemonTwo {
  animation: attackTwo 0.5s ease forwards;
}

.attackingPokemonOne {
  animation: attackOne 0.5s ease forwards;
}

@keyframes attackTwo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(125px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes attackOne {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-125px);
  }
  100% {
    transform: translateX(0);
  }
}
