.battle-page {
  text-align: center;
  background-color: #cc0000;
  padding: 2rem;
}

.battle-title {
  font-size: 2.5rem;
  color: #ffcc00;
  margin-bottom: 1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.battle-inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.battle-inputs {
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin-bottom: 1rem;
}

.battle-inputs input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
}

.battle-inputs button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.battle-inputs button:hover {
  background-color: #0056b3;
}

.simulate-button {
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.simulate-button:hover {
  background-color: #0056b3;
}

.battle-result {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
}

.battle-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

#start-battle {
  width: 10em;
  height: 4em;
  background-color: #007bff;
  border-radius: 15px;
  color: white;
}

#start-battle:hover {
  color: #ffcc00;
  background-color: #0056b3;
}

.perform-moves-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.perform-moves-container button {
  border-radius: 5px;
  background-color: #ffcc00;
  height: 3em;
}

.perform-moves-container button:hover {
  background-color: #c9a103;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal-container {
  background-color: #cc0000; /* Match theme */
  color: #ffcc00; /* Text color to match theme */
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.modal-image {
  width: 150px;
  height: auto;
  margin: 1rem 0;
}

.close-modal {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem; /* Add some spacing above the button */
}

.close-modal:hover {
  background-color: #0056b3;
}
